body {
    background-color: rgb(255, 255, 255);
  }
  
  h1 {
    color: rgb(0, 0, 0);
    text-align: center;
    border-style: double;
    border-radius: 30px;

    
  }
.container {
    text-align: center;
    background-color: rgb(159, 192, 226);
}
.footer{
    
    padding: 3px;
    text-align: center;
}
.nav{
    background-color: rgb(182, 206, 230);
    border-style: inset;
    padding: 14px 16px;
    
    
}

hr {
    border: 1px solid rgb(128, 160, 241);
  }

  